body {
  background-color: rgb(11, 13, 16);
}

.container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

h1, h2, h3, h4, p, a {
  color: white;
}

h1, h2, h3, h4 {
  font-family: "tenso";
  color: white;
}

h1 {
  text-align: right;
  margin-bottom: 2.5em;
  margin-top: 4em;
  font-weight: 400;
}

h2 {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  line-height: 2.5em;
}

li a {
  font-size: 1.2em;
}

p {
  font-size: 1.2em;
}

p, a {
  font-family: "tenso";
}

a {
  border-bottom: 1px solid;
  transition: 0.6s;
  -webkit-transition: 0.6s;
}

a:hover {
  text-decoration: none;
  color: rgb(12, 98, 255);
  transition: 0.4s;
  -webkit-transition: 0.4s;
}

.header {
  margin-bottom: 2.5em;
}

.vertical-line {
  height: 1700px;
  border: 1px solid;
  width: 100%;
  -moz-border-radius: 100% 0 0 0;
  border-radius: 100% 0 0 0;
  border-top-style: solid;
  border-left-style: solid;
  border-top-color: white;
  border-left-color: white;
  border-bottom-color: #111;
  border-right-color: #111;
  border-bottom: 2px;
}

h3.project-title {
  font-weight: 400;
  font-size: 1.75em;
  margin-bottom: 0.6em;
  margin-top: 0;
}

h3.project-title a {
  border-bottom: 0;
}

.project:last-child {
  margin-bottom: 0;
}

.project:last-child p {
  margin-bottom: 0;
}

.projects {
  margin-bottom: 6em;
  border-right: 1px solid white;
}

.project {
  margin-bottom: 5em;
}

.title {
  margin-top: 2em;
  margin-bottom: 26em;
}

.technology {
  font-family: "inconsolata";
  color: #4F5257;
}

.pudge {
  margin-top: 6em;
}

.pudge img {
  width: 290px;
}

.social {
  margin-bottom: 20em;
  margin-top: 4em;
}



